{% extends "base.html" %} 
{% block content %} 
{% if request.user.is_authenticated %}

<div id="messageContainer">
  {% for message in messages %}
  <div class="messageBox {% if message.author == request.user %} authorMessage{% endif %}">
    <span class="colorGrey">[{{ message.created_at }}]</span><br>
    {{ message.author.first_name }}: <i>{{ message.text }}</i>
  </div>
  {% endfor %}
</div>

<script>

</script>

<div class="central">
<form onsubmit="sendMessage(); return false" method="post" >
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      name="textmessage"
      type="text"
      id="messageField"
    />
    <label class="mdl-textfield__label" for="messageField">Text...</label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Send
  </button>
</form>
</div>

{% else %}
<h1>Not logged in</h1>
<p>
  You are not logged in. Please log in.<br />
  Please click <a href="/login/">here</a>.
</p>
{% endif %} 
{% endblock %}
